*{
  margin:0;
  padding: 0;
  border: 0px;
  font-family: Arial, sans-serif;
}

body{
  background: url(img/pantalla.jpg); 
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  background-size: cover;

  background-color: rgb(216, 216, 219);
  margin: 0px;
  padding: 0px;
  width: 50%;
  display: flex; /* COMENTAR */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.fondog{
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 20%;
  border-radius: 20px;
  -webkit-box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
  box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
  transition: all 1s;
}

@media only screen and (max-width: 764px){
  .fondog{
    display: none;
  }
}

.ventana{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(54, 180, 142, 0.596);
  border-radius: 10px;
  padding: 17px;
  width: 400px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow:25px 24px 24px -9px rgba(0,0,0,0.75);
  -moz-box-shadow:25px 24px 24px -9px rgba(0,0,0,0.75);
  box-shadow: 25px, 24px 24px -9px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 1024px){
  .ventana{
    width: 75%;
    margin: 0% 0 0% 0;
    margin-right: 50px;
    margin-left: -80px; 
  }
}

.mensajeUno{
  background: rgb(235, 184, 136);
  width: 105%;
  color: rgb(158, 48, 4);
  font-size: 20px;
  margin-top: 100px;
  text-align: center;
  margin-top: 50%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
}

.grupo{
  flex-direction: column;
  padding: 10px;
  width: 100%;
  margin-top: 2px;
  color: black;
  
}

.caja-grupo{
  display: flex;
  width: 100%;
  margin: 5px 0 5px 0;
}

.caja-grupo > span{
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 40px;
  margin: 2px 5px 2px 2px;
  border: 2px solid #050505;
  background: -webkit-linear-gradient(to right, rgb(5, 99, 55), rgb(144, 243, 122));
  background: linear-gradient(to right, rgb(5, 99, 55), rgb(144, 243, 122));

}

input{
  width: 100%;
  padding: 12px 20px;
  outline: none;
  background: rgba(57, 57, 59, 0.431);
  color: white;
}

input:focus{
  border: 2px solid rgb(0, 136, 109);
}

.grupo-boton{
  width: 100%;
  height: 50px;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grupo-boton > button{
  margin:10px;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  background:  #065811;
  background: -webkit-linear-gradient(to top, #014214, #019b46);  
  background: linear-gradient(to top, #014214, #019b46);
  color: white;
  border: 2px solid #224e2c;
  cursor: pointer;

  -webkit-box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
  box-shadow: 14px 13px 29px -6px rgba(0,0,0,0.75);
  transition: all 1s;
}

.grupo-boton > button:hover{
  color: white;
  background: #224e2c;
}

@media only screen and (max-width: 1024px){
  .grupo-boton > button{
      width: 50%;
      height: 50px;
  }
}

.hide{
  display: none;
}

::placeholder{
  color: rgb(195, 192, 204);
}

.logo{
  position: absolute;
  height: 200px;
  margin-top: -2px;
}

@media only screen and (max-width: 1024px){
  .logo{
      width: 70%;
      height: 250px;
      margin-top: -40px;
  }
}

.icono{
  width: 15%;
  height: 45px; 
  cursor: pointer;
  margin-top: 10px;
}

.opcion{
  text-align: center;
  margin-top: 10px;
  color: black;
}

.registro{
  margin-top: 10px;
  text-align: center;
  color: black;
}

.hide{
  display: none;
}

/* Registro */

.registrate{
  position: absolute;
  right: 280px;
  top: 120px;
  width: 280px;
  height: 400px;
  background: rgba(1, 107, 28, 0.418);
  text-align: center;
  border-radius: 10px;
}

@media only screen and (max-width: 1024px){
  .registrate{
    width: 60%;
    margin: 5% 0 5% 0;
    margin-right:10px;
    
  }
}

.registrate input{
  padding: 16px;
  margin: 5px 0;
  width: 176px;
}



.registroCorreo{
  width: 209px;
  height: 40px;
  border-radius: 10px;
  background: #065811;
  border: 0;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  
}

.letra{
  font-family: 'Kaushan Script', cursive;
  color: black;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.mensaje{
  background: rgb(235, 184, 136);
  width: 105%;
  color: rgb(158, 48, 4);
  font-size: 20px;
  margin-top: 100px;
  text-align: center;
}